# Projeto de Análise de Vendas de Carros – Empresa X

In [1]:
# ============================================================
# 1. Importação de bibliotecas
# ============================================================
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Configurações de estilo
plt.style.use("seaborn-v0_8")
sns.set_palette("deep")

In [2]:
# ============================================================
# 2. Carregamento dos dados
# ============================================================
# Lendo o arquivo CSV enviado
df = pd.read_csv("empresa_x.csv")

# Visualizando as primeiras linhas
df.head()

          mes  vendas
0  2017-01-31      10
1  2017-02-28      20
2  2017-03-31      33
3  2017-04-30      47
4  2017-05-31      63